/* body */

body {
    background-color: #66a19cc0;
    margin: 0;
}

/* wrapper */

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* site header */

.header {
    background-color: #e7e5e6;
    padding: 30px;
}

.header .logo {
    background-color: #e7e5e6;
    display: inline-block;
    font-size: 48px;
    padding: 15px 50px;
    text-transform: uppercase;
}

/* site nav */

.navigation {
    background-color: #66a19cc0;
}

.navigation ul {
    margin: 0;
    padding-left: 0;
}

.navigation li {
    display: inline-block;
    padding: 15px 25px;
}

.navigation li a:hover {
    transition-duration: 0.4s;
    background-color: #75bbb5cb;
}


.navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}



/* main div */

.main {
    background-color: #f3eff0;
    float: left;
    min-height: 600px;
    width: 70%;
}

.main h1 {
    padding-left: 35px;
}

.main p {
    padding: 5px 35px;
}

/* sidebar div */

.sidebar {
    background-color: #cecccd;
    float: left;
    min-height: 600px;
    width: 30%;
}

.sidebar h2 {
    padding-left: 20px;
}

/* footer */

.footer {
    clear: left;
    background-color: #4e4148;
    font-size: 14px;
    padding: 10px 0;
}

.footer p {
    margin: 0;
    color: #ffffff;
    padding-left: 35px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: rgb(91, 150, 135);
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }